## TF Ignores
*.tfvars
*.tfstate
*.tfstate.backup
.terraform/


## Backend Ignores
.env
.env.*
!.env.example
.venv/
__pycache__/
*.py[cod]
*.egg-info/
 
# Frontend Ignores
node_modules/
dist/
package-lock.json
 
# === OS ===
.DS_Store
Thumbs.db